body {
    padding-top: 50px;
}
.btn_control {
    margin-left: 30px;
    padding: 20px 46px;
}
.dev_control {
    padding-left: 20px;
}

.addplan_ul {
    line-height: 4rem;
}
.addplan_ul li {
    font-size: 2rem;
}
